.topbar{
	background-color: rgb(50, 46, 46);
	overflow: hidden;
/* border: 2px solid rgb(194, 194, 194); */
}
/* style the link in topbar*/
.topbar a{
	float: right;
	text-align: center;
	color: white;
	padding: 15px 15px;
	font-size: 22px;
}
.topbar a:hover{
	background-color: turquoise;
	color: black;
}
	.topbar button{
	float: left;

}


#circle{
	width: 100px;
	height: 100px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 50px;
	background: lightgray;

}
.Pic{
	padding: 1px;
	color: white;
	float: left;
	position: relative;
	top: 40px;
	right: 40px;
	border: 2px solid whitesmoke;
}
.bar{
	background-color: rgb(84, 223, 223);
	width: 100%;
					
}
ul.header{
	list-style-type: none;
	margin: 1px;
	padding: 1px;
	background-color: white;
	overflow: hidden;
	
}
li{
	float: right;
	padding: 5px;

}
.dropbtn{
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover{

}
