body{
	margin: 0;
	background-color: black;
}

.topbar{
	background-color: rgb(50, 46, 46);
	overflow: hidden;
	position: relative;
	flex:auto;
	
	
/* border: 2px solid rgb(194, 194, 194); */
}
/* style the link in topbar*/
.topbar a{
	float: right;
	text-align: center;
	color: rgb(204, 204, 204);
	padding: 15px 15px;
	font-size: 22px;
}
.topbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
	background-color: turquoise;
	color: black;
}
/* .topbar button{
	float: left;

} */

.dropdown{
	/* position: relative; */
	float: left;
	overflow:hidden
}

.dropdown-content{
	display: none; 
	position: absolute; 
	background-color: black;
	min-width: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}
.dropdown-content a:hover {
	background-color: #ddd;
  }

.dropdown-content a{
	color: black;
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropbtn{
	background-color: black;
	color: rgb(204, 204, 204);
	padding: 15px 15px;
	font-size: 22px;
	border: none;
	
	
}

.dropbtn a:hover{
	background-color: red;
}

.show{
	display: block;
}

/* Start Pic container */
.PicContainer{
	position: relative;
	text-align: center;
	color: yellow;
	font-size: 30px;

}

.centered	{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		
}


/* end of Pic contaier */





#circle{
	width: 100px;
	height: 100px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 50px;
	background: lightgray;

}
.Pic{
	padding: 1px;
	color: white;
	float: left;
	position: relative;
	top: 40px;
	right: 40px;
	border: 2px solid whitesmoke;
}
.bar{
	background-color: rgb(84, 223, 223);
	width: 100%;
					
}
ul.header{
	list-style-type: none;
	margin: 1px;
	padding: 1px;
	background-color: white;
	overflow: hidden;
	
}
li{
	float: right;
	padding: 5px;

}







